@-webkit-keyframes colorchange {
	from{background-color:#bf80ff;
		 color: #00e6e6;}
	to{background-color: #66ff66;
		color: #ff9966;}
}

.info_body {
    -webkit-animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}